<aside class="sidebar ">


    <div class="offcanvas-lg offcanvas-start d-fixed" tabindex="-1" id="bdSidebar" aria-labelledby="offcanvasLabel">
        <div class="offcanvas-header border-bottom">
            <h5 class="offcanvas-title" id="bdSidebarOffcanvasLabel">Browse docs</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"
                data-bs-target="#bdSidebar"></button>
        </div>
        <div class="offcanvas-body">
            <nav class="w-100 h-100 d-flex sidebar-nav">
                <div class="collapse navbar-collapse show" id="navbarScroll">
                    <ul class="navbar-nav  navbar-nav-scroll d-flex  nav-pills" style="--bs-scroll-height: 600px">

                        <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">
                            <svg class="bi me-2" style="color: var(--bs-indigo);" aria-hidden="true">
                                <use xlink:href="#book-half"></use>
                            </svg>
                            Getting started
                        </strong>
                        <li class="nav-item option">
                            <a class="nav-link option-a d-inline-block" href="#">Link</a>
                        </li>
                        <li class="nav-item option">
                            <a class="nav-link option-a d-inline-block" href="#">Link</a>
                        </li>
                        <li class="nav-item option">
                            <a class="nav-link option-a d-inline-block" href="#">Link</a>
                        </li>
                        <li class="nav-item option">
                            <a class="nav-link option-a d-inline-block" href="#">Link</a>
                        </li>
                        <li class="nav-item option">
                            <a class="nav-link option-a d-inline-block" href="#">Link</a>
                        </li>
                        <strong class="d-flex w-100 align-items-center fw-semibold">
                            <svg class="bi me-2" style="color: var(--bs-indigo);" aria-hidden="true">
                                <use xlink:href="#book-half"></use>
                            </svg>
                            Getting started
                        </strong>
                        <li class="nav-item option">
                            <a class="nav-link option-a d-inline-block" href="#">Link</a>
                        </li>
                        <li class="nav-item option">
                            <a class="nav-link option-a d-inline-block" href="#">Link</a>
                        </li>
                        <li class="nav-item option">
                            <a class="nav-link option-a d-inline-block" href="#">Link</a>
                        </li>
                        <li class="nav-item option">
                            <a class="nav-link option-a d-inline-block" href="#">Link</a>
                        </li>
                        <li class="nav-item option">
                            <a class="nav-link option-a d-inline-block" href="#">Link</a>
                        </li>
                        <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">
                            <svg class="bi me-2" style="color: var(--bs-indigo);" aria-hidden="true">
                                <use xlink:href="#book-half"></use>
                            </svg>
                            Getting started
                        </strong>
                        <li class="nav-item option">
                            <a class="nav-link option-a d-inline-block" href="#">Link</a>
                        </li>
                        <li class="nav-item option">
                            <a class="nav-link option-a d-inline-block" href="#">Link</a>
                        </li>
                        <li class="nav-item option">
                            <a class="nav-link option-a d-inline-block" href="#">Link</a>
                        </li>
                        <li class="nav-item option">
                            <a class="nav-link option-a d-inline-block" href="#">Link</a>
                        </li>

                    </ul>
                </div>

            </nav>
        </div>
    </div>
</aside>