<nav class="  navbar-page navbar  navbar-expand-lg sticky-top nav-underline" ;>
    <div class="container-fluid container-nav">
        <div class="bd-navbar-toggle">
            <button class="navbar-toggler p-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#bdSidebar"
                aria-controls="bdSidebar" aria-label="Toggle docs navigation">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="bi" fill="currentColor"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z">
                    </path>
                </svg>

                <span class="d-none fs-6 pe-1">Browse</span>
            </button>
        </div>
        <a class="navbar-brand text-white" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav nav-underline">
                {{#if isHome}}
                <li class="nav-item px-4 active"><a href="/">Main</a></li>
                {{else}}
                <li class="nav-item px-4"><a href="/">Main</a></li>
                {{/if}}

                {{#if isCourses}}
                <li class="nav-item px-4 active"><a href="/courses">Course</a></li>
                {{else}}
                <li class="nav-item px-4"><a href="/courses">Course</a></li>
                {{/if}}

                {{#if isAdd}}
                <li class="nav-item px-4 active"><a href="/add">Add a course</a></li>
                {{else}}
                <li class="nav-item px-4"><a href="/add">Add a course</a></li>
                {{/if}}

                {{#if isCard}}
                <li class="nav-item px-4 active "><a href="/card">Card</a></li>
                {{else}}
                <li class="nav-item px-4"><a href="/card">Card</a></li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>