<nav class="  navbar-page navbar  navbar-expand-lg sticky-top nav-underline" ;>
    <div class="container-fluid container-nav">
        <a class="navbar-brand" href="#">

            <svg width="100" height="100" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                <!-- Background -->
                <rect width="200" height="200" fill="#2971fc" />

                <!-- Lightning bolt -->
                <g transform="translate(0, 10)">
                    <polygon points="110,10 120,90 80,70 90,150 90,150" fill="#ffffff" />
                </g>
                <!-- Laboratory flask -->
                <g transform="translate(90, 50)">
                    <rect x="30" y="20" width="40" height="60" rx="10" ry="10" fill="#ffffff" />
                    <rect x="0" y="0" width="20" height="80" rx="10" ry="10"  fill="#4a0dfd" />
                    <circle cx="50" cy="120" r="5" fill="#2971fc" />
                    <circle cx="50" cy="110" r="5" fill="#2971fc" />
                    <circle cx="50" cy="100" r="5" fill="#2971fc" />
                </g>
            </svg>






        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav nav-underline">
                {{#if isHome}}
                <li class="nav-item px-4 active"><a href="/">Main</a></li>
                {{else}}
                <li class="nav-item px-4"><a href="/">Main</a></li>
                {{/if}}

                {{#if isCourses}}
                <li class="nav-item px-4 active"><a href="/courses">Course</a></li>
                {{else}}
                <li class="nav-item px-4"><a href="/courses">Course</a></li>
                {{/if}}

                {{#if isAdd}}
                <li class="nav-item px-4 active"><a href="/add">Add a course</a></li>
                {{else}}
                <li class="nav-item px-4"><a href="/add">Add a course</a></li>
                {{/if}}

                {{#if isCard}}
                <li class="nav-item px-4 active "><a href="/card">Card</a></li>
                {{else}}
                <li class="nav-item px-4"><a href="/card">Card</a></li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>