@use './variables.scss' as vars;

$light-theme: (
  // Основные цвета
  body-bg: #f9fafd,
  body-color: #31374a,
  card-bg: #ffffff,
  table-bg: #ffffff,
  offcanvas-bg: #ffffff,
  table-striped-bg: #f1f3f5,
  navbar-bg: #ffffff,
  content-bg: #f5f7fa,
  content-border-color: #c1c4ca,
  link-color: #727cf5,
  nav-link-color: #31374a,
  text-color: #000000,
  text-body-secondary: #3e465b,
  primary-color: #727cf5,
  secondary-color: #748194,
  tertiary-color: #747883,
  secondary-border-color: #c1c4ca,
  lab-btn-color: #23356e,
  lab-btn-bg: #f5f7fa,
  lab-btn-border-color: #e3e6ed,
  lab-btn-hover-color: #222834,
  lab-btn-hover-bg: #e3e6ed,
  lab-btn-hover-border-color: #e6e9ef,
  lab-btn-active-color: #31374a,
  lab-btn-active-bg: #e3e6ed,
  lab-btn-active-shadow: initial,
  lab-btn-disabled-color: #000000,
  lab-btn-disabled-bg: #f5f7fa,
  lab-btn-disabled-border-color: #e3e6ed,
  lab-input-bg: #f5f7fa,
  lab-label-bg: #e7e7e7,
  body-highlight-bg: #eff2f6,
  lab-bg: #2c7be5,

  // Дополнительные переменные из Phoenix
  body-secondary-color: #3e465b,
  body-secondary-bg: #f1f3f5,
  body-tertiary-color: #747883,
  body-tertiary-bg: #e3e6ed,
  body-quaternary-color: #8a94ad,
  body-quaternary-bg: #d3d6db,
  body-emphasis-color: #000000,
  body-emphasis-bg: #ffffff,
  body-highlight-color: #3e465b,
  theme-colors: (
    'primary': #2c7be5,
    'secondary': #748194,
    'success': #00d27a,
    'info': #27bcfd,
    'warning': #f5803e,
    'danger': #e63757,
    'light': #f8f9fa,
    'dark': #0b1727,
    'indigo': vars.$indigo-500,
    'indigo-light': vars.$indigo-200,
    'indigo-dark': vars.$indigo-700,
    'purple': vars.$purple-500,
    'purple-light': vars.$purple-200,
    'purple-dark': vars.$purple-700
  ),
  accent-color: vars.$indigo-500,
  highlight-color: vars.$purple-400,

  grays: (
    100: #f9fafd,
    200: #f1f3f5,
    300: #e3e6ed,
    400: #c1c4ca,
    500: #a1a4ab,
    600: #747883,
    700: #3e465b,
    800: #31374a,
    900: #222834
  )
);

$dark-theme: (
  // Основные цвета
  body-bg: #0f111a,
  body-color: #9fa6bc,
  card-bg: #141824,
  table-bg: #141824,
  offcanvas-bg: #141824,
  table-striped-bg: #1e2230,
  navbar-bg: #141824,
  content-bg: #0f111a,
  content-border-color: #31374a,
  link-color: #727cf5,
  nav-link-color: #9fa6bc,
  text-color: #ffffff,
  text-body-secondary: #949db5,
  quaternary-text-color: #8a94ad,
  primary-color: #727cf5,
  secondary-color: #1e2230,
  tertiary-color: #8a94ad,
  secondary-border-color: #31374a,
  lab-btn-color: #9fa6bc,
  lab-btn-active-color: #9fa6bc,
  lab-btn-bg: #0f111a,
  lab-btn-border-color: #31374a,
  lab-btn-hover-border-color: #31374a,
  lab-btn-active-border-color: #222834,
  lab-input-bg: #0f111a,
  lab-label-bg: #0f111a,
  body-highlight-bg: #222834,
  lab-bg: #2c7be5,

  // Дополнительные переменные из Phoenix
  body-secondary-color: #949db5,
  body-secondary-bg: #1e2230,
  body-tertiary-color: #8a94ad,
  body-tertiary-bg: #2a2e3e,
  body-quaternary-color: #6c757d,
  body-quaternary-bg: #343a40,
  body-emphasis-color: #ffffff,
  body-emphasis-bg: #141824,
  body-highlight-color: #9fa6bc,
  theme-colors: (
    'primary': #2c7be5,
    'secondary': #1e2230,
    'success': #00d27a,
    'info': #27bcfd,
    'warning': #f5803e,
    'danger': #e63757,
    'light': #f8f9fa,
    'dark': #0b1727,
    'indigo': vars.$indigo-300,
    'indigo-light': vars.$indigo-100,
    'indigo-dark': vars.$indigo-600,
    'purple': vars.$purple-300,
    'purple-light': vars.$purple-100,
    'purple-dark': vars.$purple-600,
  ),
  accent-color: vars.$indigo-300,
  highlight-color: vars.$purple-300,

  grays: (
    100: #1e2230,
    200: #2a2e3e,
    300: #343a40,
    400: #495057,
    500: #6c757d,
    600: #adb5bd,
    700: #ced4da,
    800: #dee2e6,
    900: #e9ecef
  )
);
