$lab-navbar-top-height: 5rem;
$lab-footer-height: 4rem;
$lab-navbar-vertical-width: 16rem;
$sidebar-width: 250px;
$main-content-bg: #fff;
$lab-breadcrumb-divider: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='10' width='6' fill='%236e7891' viewBox='0 0 256 480'%3E%3Cpath d='M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z'/%3E%3C/svg%3E");
$lab-body-bg: #0f111a;
$bs-link-color-rgb: #727cf5;
$bs-btn-bg: #727cf5;
$bs-btn-border-color: #727cf5;
$quaternary-text-color: #8a94ad;
$color: #e7e7e7;
$bg-purple: #727df5;
$text-purple: #727cf5;


// $colors: (
//     "blue": #147d64
//     "indigo": $indigo,
//     "purple": $purple,
//     "pink": $pink,
//     "red": $red,
//     "orange": $orange,
//     "yellow": $yellow,
//     "green": $green,
//     "teal": $teal,
//     "cyan": $cyan,
//     "black": $black,
//     "white": $white,
//     "gray": $gray-600,
//     "gray-dark": $gray-800
// );

// Blue Shades
$blue: #0d6efd;
$blue-100: #cfe2ff;
$blue-200: #9ec5fe;
$blue-300: #6ea8fe;
$blue-400: #3d8bfd;
$blue-500: #0d6efd;
$blue-600: #0a58ca;
$blue-700: #084298;
$blue-800: #052c65;
$blue-900: #031633;

// Indigo Shades
$indigo: #6610f2;
$indigo-100: #e0cffc;
$indigo-200: #c29ffa;
$indigo-300: #a370f7;
$indigo-400: #8540f5;
$indigo-500: #6610f2;
$indigo-600: #520dc2;
$indigo-700: #3d0a91;
$indigo-800: #290661;
$indigo-900: #140330;

// Purple Shades
$purple: #6f42c1;
$purple-100: #e2d9f3;
$purple-200: #c5b3e6;
$purple-300: #a98eda;
$purple-400: #8c68cd;
$purple-500: #6f42c1;
$purple-600: #59359a;
$purple-700: #432874;
$purple-800: #2c1a4d;
$purple-900: #160d27;