{{> head}}

<body>
    {{> navbar}}
    <img class="blue-lighting" src="realistic-blue-lightning-bolts.png" alt="">
    <img class="lighting" src="realistic-glowing-lightning-bolt.png" alt="">
    <div class="container-fluid container-page p-0">
        
    {{{body}}}
    </div>
    {{>footer}}

</body>

</html>