{{> head}}

<body>
    {{> navbar}}
    <div class="container-fluid  pt-3 py-md-4 page-layout">
        {{!-- <img class="blue-lighting" src="realistic-blue-lightning-bolts.png" alt="">
        <img class="lighting" src="realistic-glowing-lightning-bolt.png" alt=""> --}}
        {{>aside}}



        {{{body}}}

    </div>
    {{>footer}}



</body>

</html>