<link href='https://fonts.googleapis.com/css?family=Muli:400,400italic,300italic,300' rel='stylesheet' type='text/css'>
<div class="container-fluid  pt-3 py-md-4 page-layout">

    <aside class="sidebar ">
        

        <div class="offcanvas-lg offcanvas-start d-fixed" tabindex="-1" id="bdSidebar" aria-labelledby="offcanvasLabel">
            <div class="offcanvas-header border-bottom">
                <h5 class="offcanvas-title" id="bdSidebarOffcanvasLabel">Browse docs</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"
                    data-bs-target="#bdSidebar"></button>
            </div>
            <div class="offcanvas-body">
                <nav class="w-100 h-100 d-flex sidebar-nav">
                    <div class="collapse navbar-collapse show" id="navbarScroll">
                        <ul class="navbar-nav  navbar-nav-scroll d-flex  nav-pills" style="--bs-scroll-height: 500px">

                            <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">
                                <svg class="bi me-2" style="color: var(--bs-indigo);" aria-hidden="true">
                                    <use xlink:href="#book-half"></use>
                                </svg>
                                Getting started
                            </strong>
                            <li class="nav-item option">
                                <a class="nav-link option-a d-inline-block" href="#">Link</a>
                            </li>
                            <li class="nav-item option">
                                <a class="nav-link option-a d-inline-block" href="#">Link</a>
                            </li>
                            <li class="nav-item option">
                                <a class="nav-link option-a d-inline-block" href="#">Link</a>
                            </li>
                            <li class="nav-item option">
                                <a class="nav-link option-a d-inline-block" href="#">Link</a>
                            </li>
                            <li class="nav-item option">
                                <a class="nav-link option-a d-inline-block" href="#">Link</a>
                            </li>
                            <strong class="d-flex w-100 align-items-center fw-semibold">
                                <svg class="bi me-2" style="color: var(--bs-indigo);" aria-hidden="true">
                                    <use xlink:href="#book-half"></use>
                                </svg>
                                Getting started
                            </strong>
                            <li class="nav-item option">
                                <a class="nav-link option-a d-inline-block" href="#">Link</a>
                            </li>
                            <li class="nav-item option">
                                <a class="nav-link option-a d-inline-block" href="#">Link</a>
                            </li>
                            <li class="nav-item option">
                                <a class="nav-link option-a d-inline-block" href="#">Link</a>
                            </li>
                            <li class="nav-item option">
                                <a class="nav-link option-a d-inline-block" href="#">Link</a>
                            </li>
                            <li class="nav-item option">
                                <a class="nav-link option-a d-inline-block" href="#">Link</a>
                            </li>
                            <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">
                                <svg class="bi me-2" style="color: var(--bs-indigo);" aria-hidden="true">
                                    <use xlink:href="#book-half"></use>
                                </svg>
                                Getting started
                            </strong>
                            <li class="nav-item option">
                                <a class="nav-link option-a d-inline-block" href="#">Link</a>
                            </li>
                            <li class="nav-item option">
                                <a class="nav-link option-a d-inline-block" href="#">Link</a>
                            </li>
                            <li class="nav-item option">
                                <a class="nav-link option-a d-inline-block" href="#">Link</a>
                            </li>
                            <li class="nav-item option">
                                <a class="nav-link option-a d-inline-block" href="#">Link</a>
                            </li>

                        </ul>
                    </div>

                </nav>
            </div>
        </div>
    </aside>
    <main>


        <section>
            <div class="container-fluid container-page-first">
                <div class="page-near-center container">
                    <div class="row">
                        <div class="col-xl-11 col-3">
                            <h1 class="text-white">Thunder-Driven Innovation in Lab Management, Boosting Your
                                Inventory
                                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel"
                                    data-bs-interval="2000">

                                    <span class=" caption-slide carousel-item active "
                                        data-bs-interval="">Productivity</span>
                                    <span class=" caption-slide carousel-item" data-bs-interval="">Accuracy</span>
                                    <span class=" caption-slide carousel-item" data-bs-interval="">Reliability</span>
                                    <span class=" caption-slide carousel-item" data-bs-interval="">Efficiency</span>
                                    <span class=" caption-slide carousel-item" data-bs-interval="">Transparency</span>



                                </div>
                            </h1>

                            <h5 class="color-second mw500">Streamline lab with precision inventory control And
                                optimizing your laboratory workflow</h5>
                            <div class="row align-items-start justify-content-between">
                                <div class="gap-3 col-5 d-flex flex-column">
                                    <button class="btn btn-start btn-lg" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#navbarScroll" aria-controls="navbarScroll"
                                        aria-expanded="false" aria-label="Toggle navigation">
                                        Get started
                                    </button>

                                </div>
                                <div class="col-5">
                                    <div class="container-bottle d-flex mt-2">

                                        <div class="bottle">
                                            <div class="bottleGap">
                                                <div class="bottleLiquid"></div>
                                            </div>

                                        </div>
                                        <div class="bubble1"></div>
                                        <div class="bubble2"></div>
                                        <div class="bubble3"></div>

                                    </div>
                                </div>

                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container page-center">
                <div class="card card-lab mb-3 col-12">



                    <div class="card-body card-body-lab ">
                        <h4 class="text-white">Detailed Breakdown of System Operations</h5>
                            <p class="card-text color-second">Discover the Full Range of Capabilities, Functions,
                                and
                                Advantages
                                Offered by Our Advanced Laboratory Management System for Streamlined Operations.
                                An In-Depth Look at the Comprehensive Features, Operational Workflow, and
                                Significant
                                Benefits of Our System for Optimal Laboratory Efficiency
                            </p>

                    </div>
                    <img src="/lab-technician-mask-examines-test-tubes-utilizes-microscope-analysis.jpg"
                        class="card-img-bottom" alt="...">
                </div>

            </div>

        </section>
        <section>
            <div class="container page-center ">
                <div class="row">
                    <div class="col-4">
                        <div id="list-example" class="list-group">
                            <a class="list-group-item list-group-item-action list-group-item-lab active"
                                href="#list-item-1">Meticulous Documentation</a>
                            <a class="list-group-item list-group-item-action list-group-item-lab"
                                href="#list-item-2">Precise Tracking</a>
                            <a class="list-group-item list-group-item-action list-group-item-lab"
                                href="#list-item-3">Intuitive Interface</a>
                            <a class="list-group-item list-group-item-action list-group-item-lab"
                                href="#list-item-4">Productivity and Integrity</a>
                        </div>
                    </div>
                    <div class="col-8">
                        <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true"
                            class="scrollspy-example navbar-nav-scroll " style="--bs-scroll-height: 400px" tabindex="0">
                            <div id="list-item-1" class="list-item-lab">
                                <h5>Meticulous Documentation of Research Findings</h5>
                                <p class="color-second">Our Laboratory Journal allows scientists to systematically
                                    record all research
                                    Our Laboratory Journal empowers scientists with the ability to systematically
                                    record
                                    all aspects of their research findings. Every piece of critical data, from
                                    initial
                                    observations to final results, is meticulously documented and stored. This
                                    comprehensive recording process ensures that valuable insights and discoveries
                                    are
                                    preserved for future reference and analysis, promoting a robust and reliable
                                    research environment.</p>
                            </div>
                            <div id="list-item-2" class="list-item-lab">
                                <h5>Precise Tracking of Experimental Expenses</h5>
                                <p class="color-second">Keeping a detailed account of all expenditures related to
                                    your
                                    experiments is crucial for maintaining budget accuracy and transparency. Our
                                    Laboratory Journal provides a dedicated section for tracking every cost
                                    associated
                                    with your research projects, from material purchases to equipment usage. This
                                    precise tracking helps you manage your budget effectively, ensuring that
                                    resources
                                    are allocated efficiently and financial oversight is maintained throughout the
                                    research process.</p>
                            </div>
                            <div id="list-item-3" class="list-item-lab">
                                <h5>Intuitive Interface for Easy Logging</h5>
                                <p class="color-second">The intuitive design of our Laboratory Journal makes it easy
                                    for
                                    researchers to log results, note observations, and manage budgets with minimal
                                    effort. The user-friendly interface is designed to streamline data entry,
                                    allowing
                                    scientists to focus more on their research and less on administrative tasks.
                                    Quick
                                    access to previous entries and the ability to organize information in a clear
                                    and
                                    structured manner further enhance the usability of our journal.This
                                    user-friendly
                                    design enhances productivity and simplifies data entry.</p>
                            </div>
                            <div id="list-item-4" class="list-item-lab">
                                <h5>Enhanced Productivity and Data Integrity</h5>
                                <p class="color-second">By providing a central location for all your research
                                    documentation needs, our comprehensive Laboratory Journal significantly enhances
                                    productivity and data integrity. With all information systematically organized
                                    and
                                    readily accessible, researchers can ensure that their lab operates smoothly and
                                    efficiently. The journal also supports collaborative efforts by allowing
                                    multiple
                                    users to input and review data, fostering a collaborative and transparent
                                    research
                                    environment.</p>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        <section>
            <div class="container page-center">
                <div class="row">
                    <div class="col-6">
                        <div class="card-body">
                            <div>
                                <h4>Electronic Laboratory Notebook for Research Progress</h4>
                                <p class="card-text">Our Electronic Laboratory Notebook (ELN) is an indispensable
                                    tool
                                    for documenting the progress of your research. Designed with scientists in mind,
                                    the
                                    ELN allows for real-time recording of experimental procedures, observations, and
                                    results. This digital solution not only enhances the accuracy and completeness
                                    of
                                    your notes but also ensures that your data is securely stored and easily
                                    accessible
                                    from anywhere.</p>
                            </div>
                            <div class="my-3">

                                <ul class="non-list">
                                    <li class="d-flex flex-nowrap align-items-center justify-content-even my-1">
                                        <div class="col-1 text-center me-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"
                                                viewBox="0 0 24 24" class="svg">
                                                <path d="M3 13H21V11H3V13ZM3 6H21V4H3V6ZM3 20H21V18H3V20Z" />
                                            </svg>

                                        </div>
                                        <div>
                                            <h6><strong>Easy</strong> project &amp; lab data management</h6>
                                        </div>
                                    </li>
                                    <li class="d-flex flex-nowrap align-items-center justify-content-even my-1">
                                        <div class="col-1 text-center me-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"
                                                viewBox="0 0 24 24" class="svg">
                                                <path
                                                    d="M12 1C7.03 1 3 5.03 3 10V11C1.89 11 1 11.89 1 13V21C1 22.11 1.89 23 3 23H21C22.11 23 23 22.11 23 21V13C23 11.89 22.11 11 21 11V10C21 5.03 16.97 1 12 1ZM12 3C15.87 3 19 6.13 19 10V11H5V10C5 6.13 8.13 3 12 3ZM12 14C10.34 14 9 15.34 9 17C9 18.66 10.34 20 12 20C13.66 20 15 18.66 15 17C15 15.34 13.66 14 12 14Z" />
                                            </svg>

                                        </div>
                                        <div>
                                            <h6><strong>Secure</strong> data hosting &amp; regulation compliance
                                            </h6>
                                        </div>
                                    </li>
                                    <li class="d-flex flex-nowrap align-items-center justify-content-even my-1">
                                        <div class="col-1 text-center me-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"
                                                viewBox="0 0 24 24" class="svg">
                                                <path
                                                    d="M18 2H6C4.9 2 4 2.9 4 4V20C4 21.1 4.9 22 6 22H18C19.1 22 20 21.1 20 20V4C20 2.9 19.1 2 18 2ZM18 20H6V4H18V20ZM9 8H7V6H9V8ZM17 8H11V6H17V8ZM9 18H7V10H9V18ZM17 18H11V10H17V18Z" />
                                            </svg>


                                        </div>
                                        <div>
                                            <h6><strong>Integrated</strong> inventory &amp; sample management</h6>
                                        </div>
                                    </li>

                                </ul>

                            </div>
                        </div>

                    </div>

                    <div class="col-6">
                        <div>
                            <img src="/representation-user-experience-interface-design.jpg" class="img-fluid rounded "
                                alt="...">
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <section>
            <div class="container page-center">
                <div class="row">
                    <div class="col-6">
                        <div>
                            <img src="/doctor-performing-medical-research-lab.jpg" class="img-fluid rounded " alt="...">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card-body">
                            <div>
                                <h4>Automation Capabilities for Enhanced Lab Efficiency</h4>
                                <p class="card-text">Unlock the full potential of your laboratory with our advanced
                                    automation capabilities. Designed to streamline repetitive tasks and minimize
                                    human
                                    error, our automation features enable you to focus more on critical research and
                                    less on administrative burdens.</p>
                            </div>
                            <div class="my-3">

                                <ul class="non-list">
                                    <li class="d-flex flex-nowrap align-items-center justify-content-even my-1">
                                        <div class="col-1 text-center me-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"
                                                viewBox="0 0 24 24" class="svg">
                                                <path
                                                    d="M20 3H4C2.9 3 2 3.9 2 5V19C2 20.1 2.9 21 4 21H20C21.1 21 22 20.1 22 19V5C22 3.9 21.1 3 20 3ZM20 19H4V5H20V19ZM11 7H13V11H16L12 15L8 11H11V7Z" />
                                            </svg>

                                        </div>
                                        <div>
                                            <h6>Automated Data Entry</h6>
                                        </div>
                                    </li>
                                    <li class="d-flex flex-nowrap align-items-center justify-content-even my-1">
                                        <div class="col-1 text-center me-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"
                                                viewBox="0 0 24 24" class="svg">
                                                <path
                                                    d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM12 20C7.59 20 4 16.41 4 12C4 7.59 7.59 4 12 4C16.41 4 20 7.59 20 12C20 16.41 16.41 20 12 20ZM11 14H13V16H11V14ZM11 7H13V12H11V7Z" />
                                            </svg>

                                        </div>
                                        <div>
                                            <h6>Real-Time Monitoring and Alerts</h6>
                                        </div>
                                    </li>
                                    <li class="d-flex flex-nowrap align-items-center justify-content-even my-1">
                                        <div class="col-1 text-center me-2">
                                            <?xml version="1.0" encoding="UTF-8"?>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"
                                                viewBox="0 0 24 24" class="svg">
                                                <path
                                                    d="M11.079,22c.437,.754,.992,1.428,1.642,2H3.043c-.118-.042-3.043-1.108-3.043-4.143,0-4.39,5.503-9.506,7-10.817V2h-2V0h13V2h-2v7.04c.261,.228,.648,.578,1.102,1.014-.803,.09-1.57,.298-2.284,.608-.164-.145-.818-.691-.818-.691V2h-5v7.97l-.362,.3c-1.019,.845-2.935,2.66-4.448,4.679h6.415c-.26,.63-.437,1.301-.529,2H2.896c-.543,1.009-.896,2.008-.896,2.908,0,1.347,1.019,1.957,1.416,2.143h7.663Zm11.203-2.687l1.416,.816-.998,1.733-1.411-.813c-.605,.652-1.393,1.125-2.289,1.33v1.621h-2v-1.621c-.896-.205-1.685-.678-2.289-1.33l-1.411,.813-.998-1.733,1.416-.816c-.129-.418-.218-.853-.218-1.313s.089-.895,.218-1.313l-1.416-.816,.998-1.733,1.411,.813c.605-.652,1.393-1.125,2.289-1.33v-1.621h2v1.621c.896,.205,1.685,.678,2.289,1.33l1.411-.813,.998,1.733-1.416,.816c.129,.418,.218,.853,.218,1.313s-.089,.895-.218,1.313Zm-1.782-1.313c0-1.378-1.122-2.5-2.5-2.5s-2.5,1.122-2.5,2.5,1.122,2.5,2.5,2.5,2.5-1.122,2.5-2.5Z" />
                                            </svg>




                                        </div>
                                        <div>
                                            <h6>Inventory Management</h6>
                                        </div>
                                    </li>
                                    <li class="d-flex flex-nowrap align-items-center justify-content-even my-1">
                                        <div class="col-1 text-center me-2">

                                            <?xml version="1.0" encoding="UTF-8"?>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"
                                                viewBox="0 0 24 24" class="svg">
                                                <path
                                                    d="m10,5.857h2v5.731l-4.372,2.429-.971-1.748,3.343-1.857v-4.555ZM2,11C2,6.038,6.037,2,11,2c4.109,0,7.694,2.775,8.716,6.749,0,0,0,0,0,.001.106.409.175.828.221,1.25h2c-.054-.591-.137-1.178-.284-1.75,0,0,0,0,0-.002C20.402,3.392,16.022,0,11,0,4.935,0,0,4.935,0,11c0,4.762,3.037,8.961,7.557,10.45.792.261,1.611.426,2.443.501v-2.03c-.618-.068-1.229-.177-1.818-.371-3.697-1.218-6.182-4.654-6.182-8.55Zm22,5v8h-12v-8c0-1.103.897-2,2-2v-2h2v2h4v-2h2v2c1.103,0,2,.897,2,2Zm-2,6v-4h-8v4h8Z" />
                                            </svg>






                                        </div>
                                        <div>
                                            <h6>Task Scheduling and Management</h6>
                                        </div>
                                    </li>
                                    <li class="d-flex flex-nowrap align-items-center justify-content-even my-1">
                                        <div class="col-1 text-center me-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"
                                                viewBox="0 0 24 24" class="svg">
                                                <path
                                                    d="M18 2H6C4.9 2 4 2.9 4 4V20C4 21.1 4.9 22 6 22H18C19.1 22 20 21.1 20 20V4C20 2.9 19.1 2 18 2ZM18 20H6V4H18V20ZM9 6H11V8H9V6ZM9 10H11V12H9V10ZM9 14H11V16H9V14ZM13 6H15V16H13V6Z" />
                                            </svg>




                                        </div>
                                        <div>
                                            <h6>Report Generation</h6>
                                        </div>
                                    </li>


                                </ul>

                            </div>
                        </div>

                    </div>



                </div>
            </div>
        </section>
        <section>
            <div class="container page-center">
                <div class="row">
                    <div class="col-6">
                        <div class="card-body">
                            <div>
                                <h4>Wide Range of Functions and Operations</h4>
                                <p class="card-text">Our system offers a comprehensive suite of features designed to
                                    meet the diverse needs of modern laboratories. From advanced data analysis tools
                                    to
                                    customizable workflows, our platform ensures that you have the flexibility and
                                    functionality required to carry out your research efficiently and effectively.
                                </p>
                            </div>
                            <div class="my-3">

                                <ul class="non-list">
                                    <li class="d-flex flex-nowrap align-items-center justify-content-even my-1">
                                        <div class="col-1 text-center me-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"
                                                viewBox="0 0 24 24" class="svg">
                                                <path
                                                    d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM12 20C7.59 20 4 16.41 4 12C4 7.59 7.59 4 12 4C16.41 4 20 7.59 20 12C20 16.41 16.41 20 12 20ZM17 12H15C15 10.34 13.66 9 12 9V7C14.76 7 17 9.24 17 12ZM12 15C10.34 15 9 13.66 9 12H7C7 14.76 9.24 17 12 17V15Z" />
                                            </svg>


                                        </div>
                                        <div>
                                            <h6>Advanced Data Analysis</h6>
                                        </div>
                                    </li>
                                    <li class="d-flex flex-nowrap align-items-center justify-content-even my-1">
                                        <div class="col-1 text-center me-2">
                                            <?xml version="1.0" encoding="UTF-8"?>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"
                                                viewBox="0 0 24 24" class="svg">
                                                <path
                                                    d="m17.163,13c.434,1.441,1.757,2.5,3.337,2.5,1.93,0,3.5-1.57,3.5-3.5s-1.57-3.5-3.5-3.5c-1.58,0-2.903,1.059-3.337,2.5h-1.163v-6c0-.275.225-.5.5-.5h.663c.434,1.441,1.757,2.5,3.337,2.5,1.93,0,3.5-1.57,3.5-3.5s-1.57-3.5-3.5-3.5c-1.58,0-2.903,1.059-3.337,2.5h-.663c-1.379,0-2.5,1.121-2.5,2.5v6h-2v2h2v6c0,1.379,1.121,2.5,2.5,2.5h.663c.434,1.441,1.757,2.5,3.337,2.5,1.93,0,3.5-1.57,3.5-3.5s-1.57-3.5-3.5-3.5c-1.58,0-2.903,1.059-3.337,2.5h-.663c-.275,0-.5-.225-.5-.5v-6h1.163Zm3.337-2.5c.827,0,1.5.673,1.5,1.5s-.673,1.5-1.5,1.5-1.5-.673-1.5-1.5.673-1.5,1.5-1.5Zm0-8.5c.827,0,1.5.673,1.5,1.5s-.673,1.5-1.5,1.5-1.5-.673-1.5-1.5.673-1.5,1.5-1.5Zm0,17c.827,0,1.5.673,1.5,1.5s-.673,1.5-1.5,1.5-1.5-.673-1.5-1.5.673-1.5,1.5-1.5Zm-9.8-10.861l-1.411.813c-.605-.652-1.393-1.126-2.29-1.331v-1.621h-2v1.621c-.896.205-1.685.679-2.29,1.331l-1.411-.813-.998,1.732,1.416.816c-.129.418-.218.853-.218,1.313s.089.895.218,1.313l-1.416.816.998,1.732,1.411-.813c.605.652,1.393,1.126,2.29,1.331v1.621h2v-1.621c.896-.205,1.685-.679,2.29-1.331l1.411.813.998-1.732-1.416-.816c.129-.418.218-.853.218-1.313s-.089-.895-.218-1.313l1.416-.816-.998-1.732Zm-4.7,6.361c-1.379,0-2.5-1.121-2.5-2.5s1.121-2.5,2.5-2.5,2.5,1.121,2.5,2.5-1.121,2.5-2.5,2.5Z" />
                                            </svg>



                                        </div>
                                        <div>
                                            <h6>Customizable Workflows</h6>
                                        </div>
                                    </li>


                                    <li class="d-flex flex-nowrap align-items-center justify-content-even my-1">
                                        <div class="col-1 text-center me-2">
                                            <?xml version="1.0" encoding="UTF-8"?>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"
                                                viewBox="0 0 24 24" class="svg">
                                                <path
                                                    d="m6.5,22v2H0v-2c0-1.105.895-2,2-2h2.5c1.105,0,2,.895,2,2Zm15.5-2h-2.5c-1.105,0-2,.895-2,2v2h6.5v-2c0-1.105-.895-2-2-2Zm-8.5,0h-3c-1.105,0-2,.895-2,2v2h7v-2c0-1.105-.895-2-2-2Zm7.269-1c1.381,0,2.5-1.119,2.5-2.5s-1.119-2.5-2.5-2.5-2.5,1.119-2.5,2.5,1.119,2.5,2.5,2.5Zm-6.269-2.5c0-1.381-1.119-2.5-2.5-2.5s-2.5,1.119-2.5,2.5,1.119,2.5,2.5,2.5,2.5-1.119,2.5-2.5Zm-13.769,0c0,1.381,1.119,2.5,2.5,2.5s2.5-1.119,2.5-2.5-1.119-2.5-2.5-2.5-2.5,1.119-2.5,2.5ZM17.946,7.701l-1.5,2.598-1.542-.89c-.412.352-.883.629-1.404.815v1.776h-3v-1.776c-.521-.186-.992-.463-1.404-.815l-1.542.89-1.5-2.598,1.529-.883c-.049-.266-.083-.538-.083-.818s.034-.552.083-.818l-1.529-.883,1.5-2.598,1.542.89c.413-.352.884-.63,1.404-.815V0h3v1.776c.521.186.992.463,1.404.815l1.542-.89,1.5,2.598-1.529.883c.049.266.083.538.083.818s-.033.552-.083.819l1.529.882Zm-4.446-1.701c0-.827-.673-1.5-1.5-1.5s-1.5.673-1.5,1.5.673,1.5,1.5,1.5,1.5-.673,1.5-1.5ZM3,12.051v-4.051c0-.275.225-.5.5-.5h.645c-.092-.486-.145-.987-.145-1.5s.053-1.014.145-1.5h-.645c-1.93,0-3.5,1.57-3.5,3.5v5.372c.716-.71,1.674-1.161,2.733-1.264.09-.016.175-.047.267-.057Zm17.5-7.551h-.645c.092.486.145.987.145,1.5s-.053,1.014-.145,1.5h.645c.275,0,.5.225.5.5v4.051c.132.015.253.056.381.082,1.031.157,1.942.657,2.619,1.39v-5.522c0-1.93-1.57-3.5-3.5-3.5Z" />
                                            </svg>



                                        </div>
                                        <div>
                                            <h6>Enhanced Collaboration</h6>
                                        </div>
                                    </li>

                                </ul>

                            </div>
                        </div>

                    </div>

                    <div class="col-6">
                        <div>
                            <img src="/team-scientists-analyzing-liquid-modern-laboratory-with-equipment-generated-by-ai.jpg"
                                class="img-fluid rounded " alt="...">
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <section>
            <div class="container page-center px-4 py-5">

                <h2 class="pb-2 border-bottom">Columns with icons</h2>
                <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                    <div class="feature col">
                        <div
                            class="feature-icon d-inline-flex align-items-center justify-content-center  bg-gradient fs-2 mb-3">
                            <?xml version="1.0" encoding="UTF-8"?>
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
                                <path
                                    d="m6.671,12c-.555,0-1.112-.211-1.536-.635l-1.443-1.386,2.079-2.163.891.856,2.187-2.142,2.099,2.144-2.759,2.702c-.415.416-.965.624-1.517.624Zm-3.671,8.5V5h5v-1.5c0-.276.224-.5.5-.5h3c.276,0,.5.224.5.5v1.5h5v7h3V2h-5.338c-.562-1.182-1.769-2-3.162-2h-3c-1.394,0-2.599.818-3.162,2H0v18.5c0,1.93,1.57,3.5,3.5,3.5h7.5v-3H3.5c-.276,0-.5-.225-.5-.5Zm12-11.5h-1.527l-3.063,3h4.591v-3Zm-9.866,8.364c.409.41.954.636,1.533.636s1.124-.226,1.521-.624l2.759-2.702-2.099-2.143-2.187,2.141-.891-.856-2.079,2.164,1.442,1.385Zm18.866-1.364v8h-11v-8c0-1.105.895-2,2-2h7c1.105,0,2,.895,2,2Zm-4,1h-3v2h3v-2Z" />
                            </svg>

                        </div>
                        <h3 class="fs-2">Automated Inventory Tracking</h3>
                        <p>Our Lab Management System features automated inventory tracking, ensuring that your lab
                            supplies are always accounted for. With real-time updates and alerts, you can easily
                            monitor
                            stock levels, reorder items, and prevent shortages. </p>
                        <a href="#" class="icon-link">
                            Call to action
                            <svg class="bi">
                                <use xlink:href="#chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="feature col">
                        <div
                            class="feature-icon d-inline-flex align-items-center justify-content-center  bg-gradient fs-2 mb-3">
                            <?xml version="1.0" encoding="UTF-8"?>
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
                                <path
                                    d="M14,10c0,1.019-.308,1.964-.832,2.754l-3.168-3.168V5.101c2.282,.463,4,2.48,4,4.899Zm-6-4.899c-2.282,.463-4,2.48-4,4.899,0,2.761,2.239,5,5,5,1.019,0,1.964-.308,2.754-.832l-3.754-3.754V5.101Zm8,1.899h4v-2h-4v2Zm0,4h4v-2h-4v2Zm0,4h4v-2h-4v2Zm-3,4v2h5v2H6v-2h5v-2H0V4C0,2.346,1.346,1,3,1H21c1.654,0,3,1.346,3,3v15H13Zm-11-2H22V4c0-.551-.448-1-1-1H3c-.552,0-1,.449-1,1v13Z" />
                            </svg>

                        </div>
                        <h3 class="fs-2">Customizable Reporting Tools</h3>
                        <p>Gain deeper insights into your lab operations with our customizable reporting tools.
                            Create
                            detailed reports on inventory usage, experimental outcomes, and budget expenditures.</p>
                        <a href="#" class="icon-link">
                            Call to action
                            <svg class="bi">
                                <use xlink:href="#chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="feature col">
                        <div
                            class="feature-icon d-inline-flex align-items-center justify-content-center  bg-gradient fs-2 mb-3">
                            <?xml version="1.0" encoding="UTF-8"?>
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
                                <path
                                    d="M22,14v-1c0-2.21-1.79-4-4-4s-4,1.79-4,4v1h-2v7c0,1.65,1.35,3,3,3h6c1.65,0,3-1.35,3-3v-7h-2Zm-6-1c0-1.1,.9-2,2-2s2,.9,2,2v1h-4v-1Zm6,8c0,.55-.45,1-1,1h-6c-.55,0-1-.45-1-1v-5h8v5Zm-3-1h-2v-2h2v2Zm-9,1c0,.34,.04,.68,.1,1H0V3C0,1.35,1.35,0,3,0H19c1.65,0,3,1.35,3,3v5.54c-.58-.52-1.25-.93-2-1.19V3c0-.55-.45-1-1-1H3c-.55,0-1,.45-1,1V20H10v1ZM6,7.09v8.91h4v2H4V4h5.23l-3.23,3.09Zm10,.26v-1.35h-3.59l-2.41,2.41v5.59h-2V7.59l3.59-3.59h6.41v3c-.7,0-1.37,.13-2,.35Z" />
                            </svg>

                        </div>
                        <h3 class="fs-2">Secure Data Management</h3>
                        <p>Security is a top priority in our Lab Management System. All data is encrypted and
                            securely
                            stored, ensuring that sensitive information is protected. With robust user access
                            controls,
                            you can manage who has access to different parts of the system, maintaining
                            confidentiality
                            and compliance with industry standards.</p>
                        <a href="#" class="icon-link">
                            Call to action
                            <svg class="bi">
                                <use xlink:href="#chevron-right"></use>
                            </svg>
                        </a>
                    </div>


                </div>

                <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                    <div class="feature col">
                        <div
                            class="feature-icon d-inline-flex align-items-center justify-content-center  bg-gradient fs-2 mb-3">
                            <?xml version="1.0" encoding="UTF-8"?>
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
                                <path
                                    d="m18,15.991c0,2.065-1.042,3.96-2.788,5.068-.133.084-.212.233-.212.4v1.54c0,.553-.448,1-1,1s-1-.447-1-1v-1.54c0-.855.426-1.637,1.141-2.09,1.164-.738,1.859-2.002,1.859-3.379,0-.98-.359-1.915-1-2.641v.375c0,1.657-1.028,2.983-2.501,3.225-.879.138-1.767-.101-2.439-.672-.674-.572-1.06-1.405-1.06-2.287v-.641c-.641.725-1,1.66-1,2.641,0,1.377.695,2.641,1.86,3.379.714.453,1.14,1.234,1.14,2.09v1.54c0,.553-.448,1-1,1s-1-.447-1-1v-1.54c0-.167-.079-.316-.212-.4-1.746-1.108-2.788-3.003-2.788-5.068,0-1.77.777-3.439,2.133-4.582.522-.44,1.233-.534,1.855-.244.624.29,1.012.896,1.012,1.583v1.243c0,.293.129.571.354.763.228.193.521.274.82.223.486-.08.825-.594.825-1.251v-.979c0-.687.388-1.293,1.012-1.583.621-.288,1.333-.194,1.854.245,1.356,1.143,2.134,2.813,2.134,4.583ZM4.5,3c-.828,0-1.5.672-1.5,1.5s.672,1.5,1.5,1.5,1.5-.672,1.5-1.5-.672-1.5-1.5-1.5Zm4,0c-.828,0-1.5.672-1.5,1.5s.672,1.5,1.5,1.5,1.5-.672,1.5-1.5-.672-1.5-1.5-1.5Zm15.5,2v12c0,2.757-2.243,5-5,5-.552,0-1-.447-1-1s.448-1,1-1c1.654,0,3-1.346,3-3v-8H2v8c0,1.654,1.346,3,3,3,.552,0,1,.447,1,1s-.448,1-1,1c-2.757,0-5-2.243-5-5V5C0,2.243,2.243,0,5,0h14c2.757,0,5,2.243,5,5Zm-2,2v-2c0-1.654-1.346-3-3-3H5c-1.654,0-3,1.346-3,3v2h20Z" />
                            </svg>

                        </div>
                        <h3 class="fs-2">Integrated Equipment Maintenance</h3>
                        <p>Keep your lab equipment in top condition with our integrated maintenance tracking.
                            Schedule
                            regular maintenance, log service records, and receive reminders for upcoming tasks.</p>
                        <a href="#" class="icon-link">
                            Call to action
                            <svg class="bi">
                                <use xlink:href="#chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="feature col">
                        <div
                            class="feature-icon d-inline-flex align-items-center justify-content-center  bg-gradient fs-2 mb-3">
                            <?xml version="1.0" encoding="UTF-8"?>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="40" height="40">
                                <g id="_01_align_center" data-name="01 align center">
                                    <path
                                        d="M20.164,13H5.419L4.478,5H12V3H4.242L4.2,2.648A3,3,0,0,0,1.222,0H0V2H1.222a1,1,0,0,1,.993.883L3.8,16.351A3,3,0,0,0,6.778,19H20V17H6.778a1,1,0,0,1-.993-.884L5.654,15H21.836l.9-5H20.705Z" />
                                    <circle cx="7" cy="22" r="2" />
                                    <circle cx="17" cy="22" r="2" />
                                    <path
                                        d="M17.078,8.542h.033a1.873,1.873,0,0,0,1.335-.553l5.261-5.261L22.293,1.314,17.112,6.5,14.868,4.16,13.427,5.546l2.306,2.4A1.872,1.872,0,0,0,17.078,8.542Z" />
                                </g>
                            </svg>

                        </div>
                        <h3 class="fs-2">Streamlined Ordering Process</h3>
                        <p>Simplify your supply procurement with our streamlined ordering process. The system allows
                            you
                            to create and manage purchase orders, track shipments, and verify deliveries.</p>
                        <a href="#" class="icon-link">
                            Call to action
                            <svg class="bi">
                                <use xlink:href="#chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="feature col">
                        <div
                            class="feature-icon d-inline-flex align-items-center justify-content-center  bg-gradient fs-2 mb-3">
                            <?xml version="1.0" encoding="UTF-8"?>
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
                                <path
                                    d="M16.63,2.5c0-1.38,1.12-2.5,2.5-2.5s2.5,1.12,2.5,2.5-1.12,2.5-2.5,2.5-2.5-1.12-2.5-2.5Zm7.5,6.5c0-1.65-1.35-3-3-3h-4c-.4,0-.78,.08-1.13,.22l1.78,1.78h3.35c.55,0,1,.45,1,1v6h-3.35l-2.65,2.65v6.35h2v-7h2v7h2v-7h2V9ZM5,5c1.38,0,2.5-1.12,2.5-2.5S6.38,0,5,0,2.5,1.12,2.5,2.5s1.12,2.5,2.5,2.5Zm12.42,5.59l-2.92-2.92-1.41,1.41,1.92,1.91h-6l1.91-1.91-1.41-1.41-2.92,2.92c-.77,.77-.77,2.04,0,2.81l2.91,2.91,1.41-1.41-1.91-1.9h6l-1.9,1.9,1.41,1.41,2.91-2.91c.77-.78,.77-2.04,0-2.81ZM2,15v-6c0-.55,.45-1,1-1h3.35l1.78-1.78c-.35-.14-.73-.22-1.13-.22H3c-1.65,0-3,1.35-3,3v8H2v7h2v-7h2v7h2v-6.35l-2.65-2.65H2Z" />
                            </svg>

                        </div>
                        <h3 class="fs-2">Collaboration and Communication</h3>
                        <p>Enhance teamwork and communication within your lab with our collaborative features. Share
                            updates, assign tasks, and communicate in real-time through the system.</p>
                        <a href="#" class="icon-link">
                            Call to action
                            <svg class="bi">
                                <use xlink:href="#chevron-right"></use>
                            </svg>
                        </a>
                    </div>


                </div>
            </div>

        </section>
    </main>
</div>