<div class="row">
    <div class="col-2">
        <figure class="figure position-absolute infinity">
            <img src="/infinity-symbol-with-lens-flare-effect(3).png" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption">A caption for the above image.</figcaption>
        </figure>

    </div>
    <div class="col-8">


        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Administration</button>

        <div class="offcanvas offcanvas-start bg-body bg-dark-subtle" data-bs-scroll="true" tabindex="-1"
            id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Backdrop with scrolling</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">


                <ul class="nav nav-tabs flex-column" id="nav-tab" role="tablist">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>

                    <li class="nav-item d-grid gap-2 p-2 btn-outline-secondary" role="presentation">
                        <button class=" btn active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane"
                            type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Home</button>
                    </li>
                    <li class="nav-item d-grid gap-2 p-2 btn-outline-secondary" role="presentation">
                        <button class=" btn " id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane"
                            type="button" role="tab" aria-controls="profile-tab-pane"
                            aria-selected="false">Profile</button>
                    </li>
                    <li class="nav-item d-grid gap-2 p-2 " role="presentation">
                        <button class=" btn " id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane"
                            type="button" role="tab" aria-controls="contact-tab-pane"
                            aria-selected="false">Contact</button>
                    </li>
                    <li class="nav-item d-grid gap-2 p-2" role="presentation">
                        <button class=" btn " id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane"
                            type="button" role="tab" aria-controls="contact-tab-pane"
                            aria-selected="false">Contact</button>

                    </li>

                </ul>


            </div>
        </div>


    </div>
</div>