<link href='https://fonts.googleapis.com/css?family=Muli:400,400italic,300italic,300' rel='stylesheet' type='text/css'>

<body>


    <section>
        <div class="container-fluid container-page-first">
            <div class="page-center container">
                <div class="row">
                    <div class="col-sm-8">
                        <h1 class="text-white">Streamline Your Lab with Precision Inventory Control</h1>
                    </div>
                    <div class="col-sm-3 d-flex align-items-end">
                        <div class="container-bottle">

                            <div class="bottle">
                                <div class="bottleGap">
                                    <div class="bottleLiquid"></div>
                                </div>

                            </div>
                            <div class="bubble1"></div>
                            <div class="bubble2"></div>
                            <div class="bubble3"></div>

                        </div>

                    </div>
                    <div class="row d-block">


                        <div class="col s3">
                            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvasWithBothOptions"
                                aria-controls="offcanvasWithBothOptions">Get started</button>

                            <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1"
                                id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
                                <div class="offcanvas-header">
                                    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Backdrop with
                                        scrolling
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                        aria-label="Close"></button>
                                </div>
                                <div class="offcanvas-body">
                                    <p>Try scrolling the rest of the page to see this option in action.</p>
                                </div>
                            </div>


                            <div class="offcanvas offcanvas-start show" tabindex="-1" id="offcanvas"
                                aria-labelledby="offcanvasLabel">
                                <div class="offcanvas-header">
                                    <h5 class="offcanvas-title" id="offcanvasLabel">Offcanvas</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                        aria-label="Close"></button>
                                </div>
                                <div class="offcanvas-body">
                                    Content for the offcanvas goes here. You can place just about any Bootstrap
                                    component or
                                    custom
                                    elements here.
                                </div>
                            </div>



                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>

    <body>