<link href='https://fonts.googleapis.com/css?family=Muli:400,400italic,300italic,300' rel='stylesheet' type='text/css'>
<div class="container-fluid  pt-3 py-md-4 page-layout">
    <aside class="sidebar">

        <div class="offcanvas-sm offcanvas-start show" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
            <div class="offcanvas-body">
                <nav class="w-100 h-100 d-flex sidebar-nav">
                    <div class="collapse navbar-collapse" id="navbarScroll">
                        <ul class="navbar-nav  navbar-nav-scroll d-flex  nav-pills" style="--bs-scroll-height: 500px">

                            <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">
                                <svg class="bi me-2" style="color: var(--bs-indigo);" aria-hidden="true">
                                    <use xlink:href="#book-half"></use>
                                </svg>
                                Getting started
                            </strong>
                            <li class="nav-item option">
                                <a class="nav-link option-a d-inline-block" href="#">Link</a>
                            </li>
                            <li class="nav-item option">
                                <a class="nav-link option-a d-inline-block" href="#">Link</a>
                            </li>
                            <li class="nav-item option">
                                <a class="nav-link option-a d-inline-block" href="#">Link</a>
                            </li>
                            <li class="nav-item option">
                                <a class="nav-link option-a d-inline-block" href="#">Link</a>
                            </li>
                            <li class="nav-item option">
                                <a class="nav-link option-a d-inline-block" href="#">Link</a>
                            </li>
                            <strong class="d-flex w-100 align-items-center fw-semibold">
                                <svg class="bi me-2" style="color: var(--bs-indigo);" aria-hidden="true">
                                    <use xlink:href="#book-half"></use>
                                </svg>
                                Getting started
                            </strong>
                            <li class="nav-item option">
                                <a class="nav-link option-a d-inline-block" href="#">Link</a>
                            </li>
                            <li class="nav-item option">
                                <a class="nav-link option-a d-inline-block" href="#">Link</a>
                            </li>
                            <li class="nav-item option">
                                <a class="nav-link option-a d-inline-block" href="#">Link</a>
                            </li>
                            <li class="nav-item option">
                                <a class="nav-link option-a d-inline-block" href="#">Link</a>
                            </li>
                            <li class="nav-item option">
                                <a class="nav-link option-a d-inline-block" href="#">Link</a>
                            </li>
                            <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">
                                <svg class="bi me-2" style="color: var(--bs-indigo);" aria-hidden="true">
                                    <use xlink:href="#book-half"></use>
                                </svg>
                                Getting started
                            </strong>
                            <li class="nav-item option">
                                <a class="nav-link option-a d-inline-block" href="#">Link</a>
                            </li>
                            <li class="nav-item option">
                                <a class="nav-link option-a d-inline-block" href="#">Link</a>
                            </li>
                            <li class="nav-item option">
                                <a class="nav-link option-a d-inline-block" href="#">Link</a>
                            </li>
                            <li class="nav-item option">
                                <a class="nav-link option-a d-inline-block" href="#">Link</a>
                            </li>

                        </ul>
                    </div>

                </nav>
            </div>
        </div>
    </aside>
    <main>


        <section>
            <div class="container-fluid container-page-first">
                <div class="page-near-center container">
                    <div class="row">
                        <div class="col-sm-11">
                            <h1 class="text-white">Thunder-Driven Innovation in Lab Management, Boosting Your Inventory
                                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel"
                                    data-bs-interval="2000">

                                    <span class=" caption-slide carousel-item active "
                                        data-bs-interval="">Productivity</span>
                                    <span class=" caption-slide carousel-item" data-bs-interval="">Accuracy</span>
                                    <span class=" caption-slide carousel-item" data-bs-interval="">Reliability</span>
                                    <span class=" caption-slide carousel-item" data-bs-interval="">Efficiency</span>
                                    <span class=" caption-slide carousel-item" data-bs-interval="">Transparency</span>



                                </div>
                            </h1>

                            <h5 class="color-second mw500">Streamline lab with precision inventory control And
                                optimizing your laboratory workflow</h5>
                            <div class="row align-items-start justify-content-between">
                                <div class="gap-3 col-5 d-flex flex-column">
                                    <button class="btn btn-start btn-lg" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#navbarScroll" aria-controls="navbarScroll"
                                        aria-expanded="false" aria-label="Toggle navigation">
                                        Get started
                                    </button>

                                </div>
                                <div class="col-5">
                                    <div class="container-bottle d-flex mt-2">

                                        <div class="bottle">
                                            <div class="bottleGap">
                                                <div class="bottleLiquid"></div>
                                            </div>

                                        </div>
                                        <div class="bubble1"></div>
                                        <div class="bubble2"></div>
                                        <div class="bubble3"></div>

                                    </div>
                                </div>

                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container page-center">
                <div class="card card-lab mb-3 col-12">



                    <div class="card-body card-body-lab ">
                        <h4 class="text-white">Detailed Breakdown of System Operations</h5>
                            <p class="card-text color-second">Discover the Full Range of Capabilities, Functions, and
                                Advantages
                                Offered by Our Advanced Laboratory Management System for Streamlined Operations.
                                An In-Depth Look at the Comprehensive Features, Operational Workflow, and Significant
                                Benefits of Our System for Optimal Laboratory Efficiency
                            </p>

                    </div>
                    <img src="/lab-technician-mask-examines-test-tubes-utilizes-microscope-analysis.jpg"
                        class="card-img-bottom" alt="...">
                </div>

            </div>

        </section>
        <section>
            <div class="container page-center ">
                <div class="row">
                    <div class="col-4">
                        <div id="list-example" class="list-group">
                            <a class="list-group-item list-group-item-action list-group-item-lab active"
                                href="#list-item-1">Meticulous Documentation</a>
                            <a class="list-group-item list-group-item-action list-group-item-lab"
                                href="#list-item-2">Precise Tracking</a>
                            <a class="list-group-item list-group-item-action list-group-item-lab"
                                href="#list-item-3">Intuitive Interface</a>
                            <a class="list-group-item list-group-item-action list-group-item-lab"
                                href="#list-item-4">Productivity and Integrity</a>
                        </div>
                    </div>
                    <div class="col-8">
                        <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true"
                            class="scrollspy-example navbar-nav-scroll " style="--bs-scroll-height: 400px" tabindex="0">
                            <div id="list-item-1" class="list-item-lab">
                                <h5>Meticulous Documentation of Research Findings</h5>
                                <p class="color-second">Our Laboratory Journal allows scientists to systematically
                                    record all research
                                    Our Laboratory Journal empowers scientists with the ability to systematically record
                                    all aspects of their research findings. Every piece of critical data, from initial
                                    observations to final results, is meticulously documented and stored. This
                                    comprehensive recording process ensures that valuable insights and discoveries are
                                    preserved for future reference and analysis, promoting a robust and reliable
                                    research environment.</p>
                            </div>
                            <div id="list-item-2" class="list-item-lab">
                                <h5>Precise Tracking of Experimental Expenses</h5>
                                <p class="color-second">Keeping a detailed account of all expenditures related to your
                                    experiments is crucial for maintaining budget accuracy and transparency. Our
                                    Laboratory Journal provides a dedicated section for tracking every cost associated
                                    with your research projects, from material purchases to equipment usage. This
                                    precise tracking helps you manage your budget effectively, ensuring that resources
                                    are allocated efficiently and financial oversight is maintained throughout the
                                    research process.</p>
                            </div>
                            <div id="list-item-3" class="list-item-lab">
                                <h5>Intuitive Interface for Easy Logging</h5>
                                <p class="color-second">The intuitive design of our Laboratory Journal makes it easy for
                                    researchers to log results, note observations, and manage budgets with minimal
                                    effort. The user-friendly interface is designed to streamline data entry, allowing
                                    scientists to focus more on their research and less on administrative tasks. Quick
                                    access to previous entries and the ability to organize information in a clear and
                                    structured manner further enhance the usability of our journal.</p>
                            </div>
                            <div id="list-item-4" class="list-item-lab">
                                <h5>Enhanced Productivity and Data Integrity</h5>
                                <p class="color-second">By providing a central location for all your research
                                    documentation needs, our comprehensive Laboratory Journal significantly enhances
                                    productivity and data integrity. With all information systematically organized and
                                    readily accessible, researchers can ensure that their lab operates smoothly and
                                    efficiently. The journal also supports collaborative efforts by allowing multiple
                                    users to input and review data, fostering a collaborative and transparent research
                                    environment.</p>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        <section>
            <div class="container page-center">
                <div class="row">
                    <div class="col-6">
                        <div>
                            <img src="/representation-user-experience-interface-design.jpg" class="img-fluid rounded "
                                alt="...">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card-body">
                            <div>
                                <h4>Electronic Laboratory Notebook for Research Progress</h4>
                                <p class="card-text">Our Electronic Laboratory Notebook (ELN) is an indispensable tool
                                    for documenting the progress of your research. Designed with scientists in mind, the
                                    ELN allows for real-time recording of experimental procedures, observations, and
                                    results. This digital solution not only enhances the accuracy and completeness of
                                    your notes but also ensures that your data is securely stored and easily accessible
                                    from anywhere.</p>
                            </div>
                            <div class="my-3">

                                <ul class="non-list">
                                    <li class="d-flex flex-nowrap align-items-center justify-content-even my-1">
                                        <div class="col-1 text-center me-2">
                                        </div>
                                        <div>
                                            <h6><strong>Easy</strong> project &amp; lab data management</h6>
                                        </div>
                                    </li>
                                    <li class="d-flex flex-nowrap align-items-center justify-content-even my-1">
                                        <div class="col-1 text-center me-2">  
                                        </div>
                                        <div>
                                            <h6><strong>Secure</strong> data hosting &amp; regulation compliance</h6>
                                        </div>
                                    </li>
                                    <li class="d-flex flex-nowrap align-items-center justify-content-even my-1">
                                        <div class="col-1 text-center me-2">

                                        </div>
                                        <div>
                                            <h6><strong>Integrated</strong> inventory &amp; sample management</h6>
                                        </div>
                                    </li>

                                </ul>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </main>
</div>