<link href='https://fonts.googleapis.com/css?family=Muli:400,400italic,300italic,300' rel='stylesheet' type='text/css'>
<div class="container-fluid  pt-3 py-md-4 page-layout">
    <aside class="sidebar">

        <div class="offcanvas-lg offcanvas-start show" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
            <div class="offcanvas-body">
                <nav class="w-100 h-100 d-flex sidebar-nav">
                    <div class="collapse navbar-collapse" id="navbarScroll">
                        <ul class="navbar-nav  navbar-nav-scroll d-flex  nav-pills" style="--bs-scroll-height: 500px">

                            <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">
                                <svg class="bi me-2" style="color: var(--bs-indigo);" aria-hidden="true">
                                    <use xlink:href="#book-half"></use>
                                </svg>
                                Getting started
                            </strong>
                            <li class="nav-item option">
                                <a class="nav-link option-a d-inline-block" href="#">Link</a>
                            </li>
                            <li class="nav-item option">
                                <a class="nav-link option-a d-inline-block" href="#">Link</a>
                            </li>
                            <li class="nav-item option">
                                <a class="nav-link option-a d-inline-block" href="#">Link</a>
                            </li>
                            <li class="nav-item option">
                                <a class="nav-link option-a d-inline-block" href="#">Link</a>
                            </li>
                            <li class="nav-item option">
                                <a class="nav-link option-a d-inline-block" href="#">Link</a>
                            </li>
                            <strong class="d-flex w-100 align-items-center fw-semibold">
                                <svg class="bi me-2" style="color: var(--bs-indigo);" aria-hidden="true">
                                    <use xlink:href="#book-half"></use>
                                </svg>
                                Getting started
                            </strong>
                            <li class="nav-item option">
                                <a class="nav-link option-a d-inline-block" href="#">Link</a>
                            </li>
                            <li class="nav-item option">
                                <a class="nav-link option-a d-inline-block" href="#">Link</a>
                            </li>
                            <li class="nav-item option">
                                <a class="nav-link option-a d-inline-block" href="#">Link</a>
                            </li>
                            <li class="nav-item option">
                                <a class="nav-link option-a d-inline-block" href="#">Link</a>
                            </li>
                            <li class="nav-item option">
                                <a class="nav-link option-a d-inline-block" href="#">Link</a>
                            </li>
                            <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">
                                <svg class="bi me-2" style="color: var(--bs-indigo);" aria-hidden="true">
                                    <use xlink:href="#book-half"></use>
                                </svg>
                                Getting started
                            </strong>
                            <li class="nav-item option">
                                <a class="nav-link option-a d-inline-block" href="#">Link</a>
                            </li>
                            <li class="nav-item option">
                                <a class="nav-link option-a d-inline-block" href="#">Link</a>
                            </li>
                            <li class="nav-item option">
                                <a class="nav-link option-a d-inline-block" href="#">Link</a>
                            </li>
                            <li class="nav-item option">
                                <a class="nav-link option-a d-inline-block" href="#">Link</a>
                            </li>

                        </ul>
                    </div>

                </nav>
            </div>
        </div>
    </aside>
    <main>


        <section>
            <div class="container-fluid container-page-first">
                <div class="page-near-center container">
                    <div class="row">
                        <div class="col-sm-9">
                            <h1 class="text-white">Thunder-Driven Innovation in Lab Management, Boosting Your Inventory
                                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel"
                                    data-bs-interval="2000">

                                    <span class=" caption-slide carousel-item active "
                                        data-bs-interval="">Productivity</span>
                                    <span class=" caption-slide carousel-item" data-bs-interval="">Accuracy</span>
                                    <span class=" caption-slide carousel-item" data-bs-interval="">Reliability</span>
                                    <span class=" caption-slide carousel-item" data-bs-interval="">Efficiency</span>
                                    <span class=" caption-slide carousel-item" data-bs-interval="">Transparency</span>



                                </div>
                            </h1>

                            <h5 class="color-second mw500">Streamline lab with precision inventory control And
                                optimizing your laboratory workflow</h5>
                            <div class="row align-items-start justify-content-between">
                                <div class="gap-3 col-5 d-flex flex-column">
                                    <button class="btn btn-start btn-lg" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#navbarScroll" aria-controls="navbarScroll"
                                        aria-expanded="false" aria-label="Toggle navigation">
                                        Get started
                                    </button>

                                </div>
                                <div class="col-5">
                                    <div class="container-bottle d-flex mt-2">

                                        <div class="bottle">
                                            <div class="bottleGap">
                                                <div class="bottleLiquid"></div>
                                            </div>

                                        </div>
                                        <div class="bubble1"></div>
                                        <div class="bubble2"></div>
                                        <div class="bubble3"></div>

                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="col-sm-3 d-flex align-items-end">



                        </div>

                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container page-center">
                <div class="card card-lab mb-3 col-12">



                    <div class="card-body card-body-lab">
                        <h2 class="text-white">Detailed Breakdown of System Operations</h5>
                            <p class="card-text">Discover the Full Range of Capabilities, Functions, and Advantages
                                Offered by Our Advanced Laboratory Management System for Streamlined Operations.
                                An In-Depth Look at the Comprehensive Features, Operational Workflow, and Significant
                                Benefits of Our System for Optimal Laboratory Efficiency
                            </p>

                    </div>
                    <img src="/lab-technician-mask-examines-test-tubes-utilizes-microscope-analysis.jpg"
                        class="card-img-bottom" alt="...">
                </div>

            </div>

        </section>
        <section>
            <div class="container page-center">
                <div class="d-flex row align-items-center"></div>
                <div class="coll-10">

                </div>
                <div class="col-12">
                    <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true"
                        class="scrollspy-example" tabindex="0">
                        <div id="item-1">
                            <h4>Meticulous Documentation of Research Findings</h4>
                            <p>Our Laboratory Journal allows scientists to systematically record all research findings.
                                This feature ensures that critical data is meticulously documented and easily accessible
                                for future reference.</p>
                        </div>
                        <div id="item-2">
                            <h5>Precise Tracking of Experimental Expenses</h5>
                            <p>Our Laboratory Journal allows scientists to systematically record all research findings.
                                This feature ensures that critical data is meticulously documented and easily accessible
                                for future reference.</p>
                        </div>
                        <div id="item-3">
                            <h5>Intuitive Interface for Easy Logging</h5>
                            <p>With an intuitive interface, researchers can quickly and easily log results, note
                                observations, and manage budgets. This user-friendly design enhances productivity and
                                simplifies data entry.</p>
                        </div>
                        <div id="item-4">
                            <h4>Enhanced Productivity and Data Integrity/h4>
                                <p>Our comprehensive Laboratory Journal promotes enhanced productivity and data
                                    integrity, providing a central location for all your research documentation needs.
                                    Ensure your lab operates smoothly with accurate and organized records.</p>
                        </div>

                    </div>
                </div>
            </div>

</div>

</div>
</section>
</main>
</div>