<link href='https://fonts.googleapis.com/css?family=Muli:400,400italic,300italic,300' rel='stylesheet' type='text/css'>
<div class="container-fluid  pt-3 py-md-4 page-layout">
    <aside class="sidebar">

        <div class="offcanvas-lg offcanvas-start show" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
            <div class="offcanvas-body">
                <nav class="w-100 h-100 d-flex sidebar-nav">
                    <div class="collapse navbar-collapse" id="navbarScroll">
                        <ul class="navbar-nav  navbar-nav-scroll d-flex  nav-pills" style="--bs-scroll-height: 500px">

                            <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">
                                <svg class="bi me-2" style="color: var(--bs-indigo);" aria-hidden="true">
                                    <use xlink:href="#book-half"></use>
                                </svg>
                                Getting started
                            </strong>
                            <li class="nav-item option">
                                <a class="nav-link option-a d-inline-block" href="#">Link</a>
                            </li>
                            <li class="nav-item option">
                                <a class="nav-link option-a d-inline-block" href="#">Link</a>
                            </li>
                            <li class="nav-item option">
                                <a class="nav-link option-a d-inline-block" href="#">Link</a>
                            </li>
                            <li class="nav-item option">
                                <a class="nav-link option-a d-inline-block" href="#">Link</a>
                            </li>
                            <li class="nav-item option">
                                <a class="nav-link option-a d-inline-block" href="#">Link</a>
                            </li>
                            <strong class="d-flex w-100 align-items-center fw-semibold">
                                <svg class="bi me-2" style="color: var(--bs-indigo);" aria-hidden="true">
                                    <use xlink:href="#book-half"></use>
                                </svg>
                                Getting started
                            </strong>
                            <li class="nav-item option">
                                <a class="nav-link option-a d-inline-block" href="#">Link</a>
                            </li>
                            <li class="nav-item option">
                                <a class="nav-link option-a d-inline-block" href="#">Link</a>
                            </li>
                            <li class="nav-item option">
                                <a class="nav-link option-a d-inline-block" href="#">Link</a>
                            </li>
                            <li class="nav-item option">
                                <a class="nav-link option-a d-inline-block" href="#">Link</a>
                            </li>
                            <li class="nav-item option">
                                <a class="nav-link option-a d-inline-block" href="#">Link</a>
                            </li>
                            <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">
                                <svg class="bi me-2" style="color: var(--bs-indigo);" aria-hidden="true">
                                    <use xlink:href="#book-half"></use>
                                </svg>
                                Getting started
                            </strong>
                            <li class="nav-item option">
                                <a class="nav-link option-a d-inline-block" href="#">Link</a>
                            </li>
                            <li class="nav-item option">
                                <a class="nav-link option-a d-inline-block" href="#">Link</a>
                            </li>
                            <li class="nav-item option">
                                <a class="nav-link option-a d-inline-block" href="#">Link</a>
                            </li>
                            <li class="nav-item option">
                                <a class="nav-link option-a d-inline-block" href="#">Link</a>
                            </li>

                        </ul>
                    </div>

                </nav>
            </div>
        </div>
    </aside>
    <main>


        <section>
            <div class="container-fluid container-page-first">
                <div class="page-near-center container">
                    <div class="row">
                        <div class="col-sm-9">
                            <h1 class="text-white">Thunder-Driven Innovation in Lab Management, Boosting Your Inventory
                                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" data-bs-interval="20000">

                                    <span class=" caption-slide carousel-item active " data-bs-interval="">Results</span>
                                    <span class=" caption-slide carousel-item" data-bs-interval="">Hello</span>
                                    <span class=" caption-slide carousel-item"  data-bs-interval="">NULL</span>



                                </div>
                            </h1>

                            <h5 class="color-second mw500">Streamline lab with precision inventory control And
                                optimizing your laboratory workflow</h5>
                            <div class="gap-3 col-5 d-flex flex-column">Ы
                                <button class="btn btn-start btn-lg" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false"
                                    aria-label="Toggle navigation">
                                    Get started
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-3 d-flex align-items-end">

                            <div class="container-bottle">

                                <div class="bottle">
                                    <div class="bottleGap">
                                        <div class="bottleLiquid"></div>
                                    </div>

                                </div>
                                <div class="bubble1"></div>
                                <div class="bubble2"></div>
                                <div class="bubble3"></div>

                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </section>
    </main>
</div>