.slide{
  display:inline;
  margin-left:3%
}
p{
  color: white;
}
.carousel .caption-slide{
  width: auto;
  height: auto;
  visibility:unset !important; 
  opacity: 0;
  transition:  0.4s cubic-bezier(0.79,0.14,0.15,0.86);
  transform: rotateX(90deg);
}
.caption-slide.active{
  background-color:#cf1616;

  opacity: 1;
  transform: rotateX(0deg);
}
.mw500{
  max-width: 500px;
}
.color-second{
  color: #cecece
}
.bi{
  width: 1em;
  height: 1em;
  vertical-align: -.125em;
  fill: currentcolor;
}

.sidebar {
  background-color: inherit;
}
.option{
  line-height: 40px;
}
.option-a{
margin-left: 5%;
margin-right: 20%;
line-height: 30px;
padding: 0% 15%
}
.option-a:hover{
  background-color: rgba(84, 35, 182, 0.5);
}


.sidebar-nav{
  background-color: #221e3c;
}

.page-layout {
  display: grid;
  grid-template-areas: "sidebar main";
  grid-template-columns: 13% 87%;
  gap: 1.5rem;
  margin-left: 3%;
  margin-right: 5%;
}

h1 {
  font-weight: 700;
  font-size: 70px;
  line-height: 85px;
  transition: 0.6s;
  transform-style: preserve-3d;
}

.price {
  font-size: 2rem;
}

.container-page-first {
  height: 850px;
  background-color: #262344;
  z-index: 2;
}

.navbar-page {
  display: block;
  background-color: #262344;
  height: inherit;
}

.navbar-page-second {
  z-index: 2;
}

.container-page {
  background-color: #262344;
  height: 2000px;


}

.page-near-center {
  margin-left: 5%;
  position: absolute;
  z-index: 2;


}

.btn-start {
  background-color: #005bff;
  height: 50px;
  border-radius: 10px;
  margin: 2rem 0.5rem;

}

.offcanvas-navbar {}

.course {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.course h1 {
  margin-bottom: 2rem;
}

.course img {
  max-width: 600px;
  height: auto;
}

.course .price.big {
  font-size: 2.5rem;
}

.card-action.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-second-logo {
  font-family: 'muli', sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  display: block;

}

.container-bottle {
  position: relative;

  align-items: flex-end;
  justify-content: center;
  width: 100px;
  height: 150px;
  display: flex;
}


.bottle {
  position: absolute;
  display: block;
  width: 74px;
  height: 74px;
  border-radius: 50%;
  background: #2c337a;
}

.bottle::before {
  content: "";
  display: block;
  width: 18px;
  height: 50px;
  position: absolute;
  top: -41px;
  left: 28px;
  background: #2c337a;
}

.bottleGap {
  position: absolute;
  left: 2px;
  top: 2px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: white;
}

.bottleGap::before {
  content: "";
  display: block;
  width: 14px;
  height: 50px;
  position: absolute;
  top: -41px;
  left: 28px;
  background: white;
}

.bottleLiquid {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(145deg, #ffc69d, #ff6a8c);
  width: 66px;
  height: 35px;
  margin: 33px 0 0 2px;
  border-radius: 0 0 33px 33px;
}

@keyframes expolode {
  28% {
    opacity: 1;
  }

  32% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.bubble1 {
  position: absolute;
  top: 8%;
  left: 40%;
  width: 7%;
  height: 5%;
  border-radius: 100%;
  border: 1px solid #ffab77;
  opacity: 0;
  animation: expolode 0.4s infinite;
}

.bubble2 {
  position: absolute;
  top: 15%;
  left: 50%;
  width: 7%;
  height: 5%;
  border-radius: 50%;
  border: 1px solid #ffab77;
  opacity: 0;
  animation: expolode 0.8s infinite;
}

.bubble3 {
  position: absolute;
  top: 10%;
  left: 60%;
  width: 7%;
  height: 5%;
  border-radius: 50%;
  border: 1px solid #ffab77;
  opacity: 0;
  animation: expolode .7s infinite;
}

.blue-lighting {
  position: absolute;
  height: auto;
  max-width: 500px;
  transform: rotate(200deg);
  left: -1.5%;
  top: 500px;
  z-index: 1;

}

.lighting {
  position: absolute;
  max-width: 500px;
  height: auto;
  transform: rotate(90deg);
  right: 0;
  z-index: 1;
}