/* main{
  background-color: #262344f7;
} */

.card-review.first{
  background-color: #922f97;
}
.card-review.second{
  background-color: #621f65;
}
.aside-svg{
    width: 1em;
    height: 1em;
    vertical-align: -.125em;
    fill: currentcolor;
}

.carousel-caption-lab .caption-item{
  float: none;
}
.carousel-caption-lab.slide {
  display: inline;
  margin-left: 3%;
  position: absolute;

}
.carousel{
  height: auto;
  max-height: 700px;
}
.carousel .carousel-item {
  visibility: visible;
  width: 100%;
  height: 100%;
  position: relative;

}
footer{
  background-color: #262344;
}
footer a{
  color: #ffffff;

}
.pricing-img{
  height: 100%;
  position: absolute;
  display: flex;
  
  
}
.card-header{
  position: relative;
}
.card-body{
  position: relative;
  color: black;
}

.pricing{
  display:contents;
  
}

.svg {
  fill: #621f65
}



.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: .75rem;
  background-color: #370a79;
}

p,
.color-second {
  color: #e2e2e2;
}

.scrollspy-example {
  border: 1px solid #7860b6;
}

.slide .caption-slide {
  width: auto;
  visibility: unset !important;
  transition: 0.4s cubic-bezier(0.79, 0.14, 0.15, 0.86);
  opacity: 0;
  transform: rotateX(90deg);
  background: linear-gradient(to top, #BBFFFF, #00FFFF, #00BFFF, #0000FF, #00008B, #000062);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.caption-slide.active {

  opacity: 1;
  transform: rotateX(0deg);
}

.scrollspy-lab {
  overflow-y: auto;
}

.mw500 {
  max-width: 500px;
}



.sidebar {
  display: block;
  background-color: #2623441a;
  
  position: sticky;
  top: 5rem;
  height: calc(100vh - 6rem);
  padding-left: .25rem;
  margin-left: -.25rem;
  overflow-y: auto;
}

.option {
  line-height: 40px;
}

.option-a {
  margin-left: 5%;
  margin-right: 20%;
  line-height: 30px;
  padding: 0% 15%
}

.option-a:hover {
  background-color: rgba(84, 35, 182, 0.5);
}
.optional{
  
  background-color: #00000012;
}

.card-lab {
  background-color: #262344;
}

.card-body-lab {
  background-color: #221e3c;
  padding-right: 20%;
}


.sidebar-nav {
  background-color: #221e3c;
}

.page-layout {
  display: grid;
  grid-template-areas: "sidebar main";
  grid-template-columns: 13% 87%;

  background-color: #262344f7;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

h1 {
  font-weight: 700;

  transition: 0.6s;
  transform-style: preserve-3d;
}

h3 {
  font-weight: 600;
}

.price {
  font-size: 2rem;
}

.container-page-first {
  background-color: #262344;

}

.navbar-page {
  display: block;
  background-color: #262344;
  height: inherit;
}

.navbar-page-second {
  z-index: 2;
}

.container-page {
  background-color: #262344;



}

.page-center {
  margin-right: auto;
  margin-left: 0;
  margin-bottom: 5%;
  background-color: #262344;
}

.page-near-center {
  position: relative;
  z-index: 2;
  margin-left: 2%;
}

.list-group-item-lab {
  border-color: #26234434;

}

.list-group-item-lab.active {
  background-color: #3a2b5f;
  border-color: #7860b6;

}

.btn-start {
  background-color:#621f65;
  height: 50px;
  border-radius: 10px;
  margin: 2rem auto;
}

.btn-start:hover{
background-color:#611f65c0;
}



.course {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.course h1 {
  margin-bottom: 2rem;
}

.course img {
  max-width: 600px;
  height: auto;
}

.course .price.big {
  font-size: 2.5rem;
}

.card-action.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.actions-lab a{
  color:#000000 !important;

}
.actions-lab a:hover{
  color: #621f65 !important;
}



.container-second-logo {
  font-family: 'muli', sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  display: block;

}

.container-bottle {
  position: relative;
  display: flex;
  width: 100px;
  height: 150px;
}


.bottle {
  position: absolute;
  display: block;
  width: 74px;
  height: 74px;
  border-radius: 50%;
  background: #2c337a;
}

.bottle::before {
  content: "";
  display: block;
  width: 18px;
  height: 50px;
  position: absolute;
  top: -41px;
  left: 28px;
  background: #2c337a;
}

.bottleGap {
  position: absolute;
  left: 2px;
  top: 2px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: white;
}

.bottleGap::before {
  content: "";
  display: block;
  width: 14px;
  height: 50px;
  position: absolute;
  top: -41px;
  left: 28px;
  background: white;
}

.bottleLiquid {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(145deg, #ffc69d, #ff6a8c);
  width: 66px;
  height: 35px;
  margin: 33px 0 0 2px;
  border-radius: 0 0 33px 33px;
}

@keyframes expolode {
  28% {
    opacity: 1;
  }

  32% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.bubble1 {
  position: absolute;
  top: 8%;
  left: 40%;
  width: 7%;
  height: 5%;
  border-radius: 100%;
  border: 1px solid #ffab77;
  opacity: 0;
  animation: expolode 0.4s infinite;
}

.bubble2 {
  position: absolute;
  top: 15%;
  left: 50%;
  width: 7%;
  height: 5%;
  border-radius: 50%;
  border: 1px solid #ffab77;
  opacity: 0;
  animation: expolode 0.8s infinite;
}

.bubble3 {
  position: absolute;
  top: 10%;
  left: 60%;
  width: 7%;
  height: 5%;
  border-radius: 50%;
  border: 1px solid #ffab77;
  opacity: 0;
  animation: expolode .7s infinite;
}

.blue-lighting {
  position: absolute;
  height: auto;
  max-width: 500px;
  transform: rotate(200deg);
  left: -1.5%;
  top: 500px;
  z-index: 1;

}

.lighting {
  position: absolute;
  max-width: 500px;
  height: auto;
  transform: rotate(90deg);
  right: 0;
  z-index: -1;
}